# Logical Operators

In [ ]:
True and True
True and False
False and False
True and not False
not(True and True)

# Bit-by-bit
# AND bit-by-bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2

# Bit-by-bit
# OR bit-by-bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# Bit-by-bit
# XOR bit-by-bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

# Ternary Operator

In [ ]:
is_raining = True
print("My clothes are " + ("dry", "wet")[is_raining])
print("My clothes are " + ("dry", "wet")[not is_raining])

#  More operators

In [ ]:
# Membership Operators
print("1. Membership Operators")
list = [1, 2, 3, "Ana", "Carla"]
print(2 in list)
print("Ana" not in list)

print()

# Identity Operators
print("2. Identity Operators")
x = 3
y = x
z = 3
print(x is y)
print(z is y)
print(x is not z)

print()
print("2.1 For list")
list_a = [1, 2, 3]
list_b = list_a
list_c = [1, 2, 3]
print(list_a is list_b)
print(list_a is list_c) # different reference in memory
print(list_a is not list_c)

# Builtins

In [ ]:
__builtins__.type("Test")
__builtins__.print(10 / 3)

dir() # from builtins

1 + 3
# _ is the last command result
a = 7
import math
dir()

# Strings

In [ ]:
name = "Gabriel Romero de Souza"
print(name[4:]) # delimits a range starting from the index
print(name[:4]) # delimits a range from the start to the index (index not include)
print(name[-7:])# negative index starting from the end
print(name[0:7])
print()

numbers = '1234567890'
print(numbers[::2])
print(numbers[1::2])
print(numbers[::-1]) #invert string
print()

phrase = "Python is a great language"
print('py' in phrase)
print('Py' in phrase)
print('py' in phrase.lower())
phrase = phrase.upper()
print(phrase)
print(phrase.split())
print(phrase.split('A'))
print(len(phrase))

#  List - Can be modified

In [ ]:
list = []
print(len(list))

list.append(1)
list.append(5)
print(len(list))
print()

new_list = [1, 5, "Ana", "Bia"]
new_list.remove("Ana")
print(new_list)
# new_list.remove("test") error, test not in list
new_list.reverse()
print(new_list)

new_list.append([7, 8, 9])
print(new_list)

In [ ]:
list = [1, 5, "Rebeca", "Guilherme", 3.1415]
list.index('Guilherme')
# list.index(42) error
print(list[2])
print(1 in list)
print('Rebeca' in list)
print('Pedro' not in list)
print(list[0])
print(list[4])
#print(list[5]) error
print(list[-1])
print(list[-3])

In [ ]:
list = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
print(list[1:3])
print(list[1:-1])
print(list[1:])
print(list[:-1])
print(list[:])
print(list[::2])
print(list[::-1])
del list[2]
print(list)
del list[1:]
print(list)

# Tuples - Can't be modified

In [ ]:
tuple = () # or tuple ()
print(type(tuple))
tuple = ('um')
print(type(tuple)) # will be str
tuple = ('um',)
print(type(tuple)) # will be tuple
print(tuple[0])
print()

colors = ('green', 'yellow', 'blue', 'Blue', 'blue', 'white')
print(colors[0])
print(colors[-1])
print(colors[1:])

print(colors.index('yellow'))
print(colors.count('blue'))
print(len(colors))

# Dictionaries

In [ ]:
people = {'name': 'Ana', 'age': 38, 'courses': ['Math', 'English']}
print(type(people))
print(len(people))

print(people)
print(people['name'])
print(people['age'])
print(people['courses'])
print(people['courses'][1])
#print(people['tags']) error
print(people.keys())
print(people.values())
print(people.items())
print(people.get('age'))
print(people.get('tags'))
print(people.get('tags', []))

In [ ]:
people = {'name': 'Alberto', 'age': 43, 'courses': ['React', 'Python']}
people['age'] = 44
people['courses'].append('Angular')
print(people)
people.pop('age')
print(people)
people.update({'age': 40, 'Gender': 'M'})
print(people)
del people['courses']
print(people)
people.clear()
print(people)

#  Set

Not support indexing, no repeat values, without ordering

In [ ]:
a = {1, 2, 3}
# a[0]
a = set('codddd3r')
print(a)
print('3' in a, 4 not in a)
print({1, 2, 3} == {3, 2, 1, 3})
print()

#operators
print('operators')
c1 = {1, 2}
c2 = {2, 3}
print(c1.union(c2))
print(c1.intersection(c2))
c1.update(c2)
print(c1)

print(c2 <= c1) #sub set
print(c1 >= c2) #!sub set

{1, 2, 3} - {2} # difference
c1 -= {2}
print(c1)

#  Interpolation

In [ ]:
name, age = "Ana", 30

print('Name: %s Age: %d' % (name, age))
print('Name: {0} Age: {1}'.format(name, age))
print(f'Name: {name} Age: {age}')

from string import Template
s = Template('Name: $name Age: $age')
print(s.substitute(name=name, age=age))